.container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Header Header"
        "LeftMenu ContentArea"
        "Footer Footer";
}

.Header {
    grid-area: Header;
    border: solid 2px blueviolet;
    height: 20vh;
}

.Footer {
    grid-area: Footer;
    border: solid 2px blueviolet;
    height: 20vh;
}

.ContentArea {
    grid-area: ContentArea;
    border: solid 2px green;
    height: 60vh;
}

.LeftMenu {
    grid-area: LeftMenu;
    border: solid 2px red;
}